@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&display=swap");

* {
  font-size: 14px;
  color: white;
  font-family: "Lexend Deca", sans-serif;
}

body {
  width: 1440px;
}

img {
  width: 64px;
  height: 40px;
}

h1 {
  font-family: "Big Shoulders Display", cursive;
  font-weight: bold;
}

.container {
  display: flex;
}

.card {
  width: 250px;
  height: 400px;
  padding: 45px;
  border: 1px solid;
  white-space: normal;
}

#sedans {
  background-color: hsl(31, 77%, 52%);
}

#suvs {
  background-color: hsl(184, 100%, 22%);
}

#luxury {
  background-color: hsl(179, 100%, 13%);
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
